<footer class="container-fluid bg-primary py-8 rounded-top-5">
  <div class="container text-center">
    <img src="/assets/images/logo-110-112.png" alt="logo" class="mb-5" />
    <ul class="list-unstyled d-flex justify-content-center mb-0">
      <li class="me-5">
        <a href="#" class="link-white lh-sm footer-link d-block fw-bold"
          >商品列表</a
        >
      </li>
      <li class="me-5">
        <a href="#" class="link-white lh-sm footer-link d-block fw-bold"
          >品牌故事</a
        >
      </li>
      <li>
        <a href="#" class="link-white lh-sm footer-link d-block fw-bold"
          >常見問題</a
        >
      </li>
    </ul>
    <p class="text-white fs-10 fs-sm-9">
      © 2025 Ferment at Home Inc. All Rights Reserved.
    </p>
    <ul class="list-unstyled d-flex justify-content-center mb-0">
      <li class="me-5">
        <a href="#" class="link-white lh-sm footer-link d-block fw-bold"
          >隱私權政策</a
        >
      </li>
      <li>
        <a href="#" class="link-white lh-sm footer-link d-block fw-bold"
          >使用者條款</a
        >
      </li>
    </ul>
  </div>
</footer>
