.hero-bg {
  height: 900px;
  background-image: url("/assets/images/hero_bg.png");
  background-size: cover;
}

.banner-container {
  height: 648px;
  max-width: 1296px;
  overflow: hidden;
}

.title-position {
  top: -30px;
}

.banner-button {
  padding-top: 21px;
  padding-bottom: 21px;
}

.news-date {
  padding-top: 9.5px;
  padding-bottom: 9.5px;
}

.border-dashed {
  border-bottom: 2px dashed var(--bs-secondary-300);
}

.news-content {
  color: var(--bs-gray-950);
  margin-right: 0;

  transition: margin-right 0.5s;

  &:hover {
    color: var(--bs-primary);
    margin-right: 16px;
  }
}

.wave-line {
  height: 30px;
  background-image: url("/assets/images/curved-line.svg");
}

.story-image {
  max-width: 856px;
}

.painting-quartetCard-outline {
  background-image: url("/assets/images/card_quartet_pc_34.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

@media (max-width: 576px) {
  .painting-quartetCard-outline {
    background-image: url("/assets/images/card-border-sm.png");
  }
}

.step-one-bg {
  border-radius: 32px;
  background-image: url("https://github.com/Fury51/img-base/blob/main/gif/Adobe%20Express%20-%20step_01.gif?raw=true");
  background-repeat: no-repeat;
  background-size: 98%;
  background-position: center center;
}

.step-two-bg {
  border-radius: 32px;
  background-image: url("https://github.com/Fury51/img-base/blob/main/gif/Adobe%20Express%20-%20step_02.gif?raw=true");
  background-repeat: no-repeat;
  background-size: 98%;
  background-position: center center;
}

.step-three-bg {
  border-radius: 32px;
  background-image: url("https://github.com/Fury51/img-base/blob/main/gif/Adobe%20Express%20-%20step_03.gif?raw=true");
  background-repeat: no-repeat;
  background-size: 98%;
  background-position: center center;
}

.step-four-bg {
  border-radius: 32px;
  background-image: url("https://github.com/Fury51/img-base/blob/main/gif/Adobe%20Express%20-%20step_04.gif?raw=true");
  background-repeat: no-repeat;
  background-size: 98%;
  background-position: center center;
}

.step-num {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);

  width: 64px;
  height: 64px;
}

@media (max-width: 576px) {
  .step-num {
    top: -22px;
  }
}

@media (max-width: 992px) {
  .step-num {
    width: 48px;
    height: 48px;
  }
}
