.step-circle {
  color: var(--bs-white);
  background-color: var(--bs-primary);
  font-size: 40px;
  padding: 12px 13.5px 12px 13.5px;
}

.card-body {
  background-color: var(--bs-gray-50);

  &:hover {
    background-color: var(--bs-secondary-100);
  }
}

.card-photo {
  position: relative;
  width: 258px;
  height: 258px;
}

.selling-price {
  position: absolute;
  color: var(--bs-primary);
}

.card-check {
  position: absolute;
  right: 0px;
  padding: 8px;
  background-color: var(--bs-gray-200);

  &:hover {
    background-color: var(--bs-gray-200);
  }

  &:active {
    background-color: var(--bs-primary);
  }
}
